h1 {
  float: left;
  font-family: "Nunito", sans-serif;
  color: black;
}

h2 {
  float: left;
  font-family: "Nunito", sans-serif;
  color: black;
}

.info {
  position: absolute;
  background-color: white;
  padding-left: 15px;
  padding-right: 125px;
  padding-bottom: 50px;
  border-radius: 7.5px;
  top: 15%;
  left: 20%;
}

.image {
  position: absolute;
  width: 720px;
  height: 480px;
  background-color: black;
  top: 15%;
  right: 14%;
}
