h1 {
  float: left;
  font-family: "Nunito", sans-serif;
  color: black;
}

h2 {
  float: left;
  font-family: "Nunito", sans-serif;
  color: black;
}

.example {
  position: absolute;
  
  padding-bottom: 50px;
  border-radius: 7.5px;
  top: 15%;
  right: 20%;
  width: 40%;
}

.info {
  position: absolute;
  
  background-color: white;
  padding-left: 20px;
  padding-right: 100px;
  padding-bottom: 50px;
  border-radius: 7.5px;
  top: 15%;
  left: 17%;
  width: 13%;
  text-align: left;
  text-size-adjust: 10px;
}

.image {
  position: absolute;
  width: 720px;
  height: 480px;
  background-color: black;
  top: 15%;
  right: 14%;
}
