.container {
  background-color: white;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 4.75vh;
  width: 200px;
  color: #f65058ff;
}

.menu-item {
  float: left;
}

.menu-item a {
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 20px;
  display: block;
  color: #000;
  padding: 10px 18px;
  text-decoration: none;
}

/* Change the link color on hover */
.menu-item a:hover {
  background-color: #28334aff;
  color: white;
}
